body, html {
  height: 100%;
}

h1 {
  font-size: 30px;
}

#root {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url('images/sky.jpg');
  background-repeat: no-repeat;
	background-size: cover;
}

.widget {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #b7dae6;
}

.row {
  justify-content: center;
}

.col-4, .col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecastImage {
  width: 110px;
}

.input-group {
  margin: 10px 0 30px;
}

.currentIcon {
  height: 150px;
  width: 150px;
  margin-bottom: 15px;
}

.currentDescription::first-letter {
  text-transform: capitalize;
}
.source-link {
  text-align: center;
  color: #fff;
}

.forecastTemperatureMin {
  color: grey;
}
.spinner {
  margin-bottom: 200px;
}

.temperature {
  font-size: 50px;
}
.celciusLink, .fahrenheitLink {
  text-decoration: none;
  font-size: 20px;
}

 .celciusLink.nonActive, .fahrenheitLink.nonActive {
  color: black
}
